@model {0}
@{{
    ViewBag.Title = {4}.{5}.Index;    
}}
<div class="post_text">
    <h2>@{4}.{5}.List</h2>
    <br />
    @*@if (Request.IsAuthenticated)
{{*@
    <div class="button">
        @Ajax.ActionLink(@{4}.{5}.Create, "Create", new {{  }},
                            new AjaxOptions
                                {{
                                    HttpMethod = "GET",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "dialog",
									OnSuccess = " $('#dialog').dialog('open');",
									LoadingElementId = "ajaxLoading"
                                }}, null)
    </div>
    @*}}*@
    <br />
    <fieldset>
        <legend>@{4}.{5}.Search</legend>
        @using (Ajax.BeginForm("IX", new {{  }}, new AjaxOptions()
    {{
        UpdateTargetId = "ResultList",
        LoadingElementId = "loadingSearch",
        HttpMethod = "Post",
        InsertionMode = InsertionMode.Replace,       
    }},new {{ id = "searchForm"}}))
    {{        
            @Html.Action("{3}", Model)
            <hr noshade="noshade" />        
            <table>
                <tr>
                    <td>
                        <div class="button">
                            <input id="btnSubmit" type="submit" value="@{4}.{5}.Search" class="search"/>
                        </div>
                    </td>
                    <td>
                        <div id="loadingSearch" style="display: none;">
                            <img src="@Url.Content("~/Images/ajax-loader/loading1.gif")">
                        </div>
                    </td>
                </tr>
            </table>                                           
    }}
    </fieldset>
    <div id="ResultList">
        @Html.Action("IX", Model)
    </div>
    <fieldset>
        <legend>@{4}.{5}.Help</legend>
        <ul>
            <li></li>
        </ul>
    </fieldset>
</div>
