                <tr id="trrd{0}">
                    <td> </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <input type="radio" name="q{0}" value="1" id="q{0}_1" />
                                    <label for="q{0}_1">   </label>
                                </td>
                                <td>
                                    <input type="radio" name="q{0}" value="-1" id="q{0}_2" />
                                    <label for="q{0}_2">  </label>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>