            <div class="span4">
                <label class="control-label" for="{0}">@Html.LabelFor(model => model.Search{0})</label>
                <div class="controls">
                    @Html.EditorFor(model => model.Search{0}, new {{ data_num = "Number" }})
                </div>
            </div>