                <div class="control-group">
                    <label class="control-label" for="{0}"> @Html.LabelFor(model => model.{0})</label>
                    <div class="controls">
                        @if(Model.{0} != null)
                        {{
                            @Html.Action("{1}", "{2}" ,new {{ area = "{3}",  id = Model.{4}}})                           
                        }}
                    </div>                  
                </div>